body, html {
    padding: 100px;
}

.backgroundImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-image: url('./../images/backgroundImage.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    color: white;
    padding: 140px 0;
    position: absolute;
    vertical-align: middle;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.uploadDiv {
    position: absolute;
    top: 70%;
}

label {
    color: white;
    border: none;
    height: 60px;
    width: 250px;
    background-color: rgb(0, 0, 231);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monteserrat", sans-serif;
}

#displayImage {
    text-align: justify;
    width: 375px;
    height: 211px;
    background-position: center;
    background-size: cover;
}
